<!DOCTYPE html>
<html>
	<%- include('../layouts/head.ejs'); %>
<body>
	<div class="wrapper">
		<%- include('../layouts/main-header.ejs'); %>
<%- include('../layouts/side-bar.ejs'); %>

			<div class="main-panel">
				<%- include('../components/icons.ejs'); %>
				<%- include('../layouts/footer.ejs'); %>
			</div>
		</div>
	</div>
	<!-- Modal -->
</body>
<%- include('../layouts/script/main-script.ejs'); %>
<%- include('../layouts/script/icons.ejs'); %>
</html>